.box {
    background-color: lightgrey;
      width: 199px;
      border: 10px solid #38c5a7;
      padding: 47px;
      margin: 31px;
  }

  .filtro{
    /* margin-left: 7cm; */
  }

  .limparFiltro{
    /* margin-left: -20cm; */
  }

  .botao-voltar{
    margin-left: 1cm;
  }

@media screen and (max-width: 768px){
  .box{
    margin: 3px;
  }

  .filtro{
    margin-left: 0cm;
  }

  .limparFiltro{
    margin-left: -1cm;
  }

}
